<div class="order-summary">
  <h2 class="order-summary__title">Order Recap</h2>  
  <div *ngFor="let book of books">
    <div class="order-summary__book-container">
      <app-book [book]="book" [amount]="book.amount"></app-book>
    </div>
  </div>
  <div class="order-summary__price">
    <div class="order-summary__price__info">
      <div>Total Price: {{ totalPrice }}€</div>
      <div class="order-summary__price__info__limited-offer">Limited Offer: -{{ totalPrice - bestPrice }}€</div>
      <div class="order-summary__price__info__final-price">Final Price: {{ bestPrice }}€</div>
    </div>
    <button class="btn btn-primary">To Payment</button>
  </div>
</div>
