.valid {
  background-color: green !important;
}

.invalid {
  background-color: grey !important;
}

.search-container {
  display: flex;
  flex-direction: row;
  margin: 30px 20px 0 20px;
}

input {
  width: 363px;
}
