/deep/
.card {
  width: 100% !important;
  .card-img-top {
    height: 400px;
    width: 250px;
    margin: auto;
    padding-right: 4px;
  }
  .card-body {
    .price-wrapper {
      display: flex;
      &__amount {
        padding-right: 5px;
        font-weight: bold;
      }
    }
  }
  .price {
    color: goldenrod;
  }
}