.book-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.title {
  font-weight: bold;
  margin-left: 10px;
}

.isbn {
  margin-left: 10px;
}