<div class="no-results" *ngIf="searchPerformed && filteredBooks.length < 1">No results found - please try another search</div>
<div *ngIf="filteredBooks.length < 1">
  <div class="book-card" *ngFor="let book of bookList">
    <app-book [book]="book"></app-book>
    <div class="button-wrapper">
      <button class="btn btn-primary add" (click)="addBook(book)">+</button>
      <button class="btn btn-primary remove" (click)="removeBook(book)">-</button>
    </div>
  </div>
</div>
<div *ngIf="filteredBooks.length > 0">
  <div class="book-card" *ngFor="let book of filteredBooks">
    <app-book [book]="book"></app-book>
    <div class="button-wrapper">
      <button class="btn btn-primary add" (click)="addBook(book)">+</button>
      <button class="btn btn-primary remove" (click)="removeBook(book)">-</button>
    </div>
  </div>
</div>
